@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: "poppins";
    margin: 0;
}
/* -------------------------------------------------------------------------------  */

h1#inicio{
    font-size: 3em;
    margin-left: 90px;
    margin-right: 80px;
}

div#p1{
    display: flex;
    border: #4E34B5 solid 2px;
    background-color: #4E34B5;
    align-items: center;
    color: white;
    justify-content: center;
    
}

h4.menu{
    font-size: 1.5em;
    margin-right: 80px;
}

a.link{
    text-decoration: none;
    color: inherit;
    font-size: 1.25em;
    margin-right: 80px;
    border: white solid;
    color: black;
    background-color: white;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

/* -------------------------------------------------------------------------------  */