@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: "poppins";
    margin: 0;
}

#p1{
    display: flex;
    border: #4E34B5 solid 2px;
    background-color: #4E34B5;
    align-items: center;
    color: white;
    height: 8.3125em;
}

a{
    text-decoration: none;
    color: inherit;
}
#inicio{
    font-size: 2.5em;
    text-align: center;
    margin-top: 3.1875em;
    margin-bottom: 0em;
}